body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1626px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1626px;
  display:flex;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1623px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.572549019607843);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1623px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6 {
  position:absolute;
  left:53px;
  top:148px;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:644px;
  height:1204px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:1204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:5px 5px 7px rgba(170, 170, 170, 0.349019607843137);
  -webkit-box-shadow:5px 5px 7px rgba(170, 170, 170, 0.349019607843137);
  box-shadow:5px 5px 7px rgba(170, 170, 170, 0.349019607843137);
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:1204px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9 {
  position:absolute;
  left:49px;
  top:345px;
}
#u9_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:546px;
  height:223px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:223px;
  background:-webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 244, 1) 100%);
  background:-moz-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 244, 1) 100%);
  background:linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 244, 1) 100%);
  border:none;
  border-radius:22px;
  -moz-box-shadow:5px 5px 7px rgba(170, 170, 170, 0.349019607843137);
  -webkit-box-shadow:5px 5px 7px rgba(170, 170, 170, 0.349019607843137);
  box-shadow:5px 5px 7px rgba(170, 170, 170, 0.349019607843137);
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:223px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:223px;
  background:-webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 244, 1) 100%);
  background:-moz-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 244, 1) 100%);
  background:linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 244, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(34, 167, 187, 1);
  border-radius:22px;
  -moz-box-shadow:5px 5px 7px rgba(170, 170, 170, 0.349019607843137);
  -webkit-box-shadow:5px 5px 7px rgba(170, 170, 170, 0.349019607843137);
  box-shadow:5px 5px 7px rgba(170, 170, 170, 0.349019607843137);
}
#u11.selected {
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#22A7BB;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:30px;
  width:120px;
  height:42px;
  display:flex;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#22A7BB;
}
#u12 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:30px;
  width:99px;
  height:99px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#4A576A;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:158px;
  width:331px;
  height:30px;
  display:flex;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#4A576A;
}
#u14 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:92px;
  width:91px;
  height:41px;
  display:flex;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:92px;
  width:121px;
  height:41px;
  display:flex;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:92px;
  width:111px;
  height:41px;
  display:flex;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18 {
  position:absolute;
  left:49px;
  top:638px;
}
#u18_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:546px;
  height:223px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:223px;
  background:-webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 244, 1) 100%);
  background:-moz-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 244, 1) 100%);
  background:linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 244, 1) 100%);
  border:none;
  border-radius:22px;
  -moz-box-shadow:5px 5px 7px rgba(170, 170, 170, 0.349019607843137);
  -webkit-box-shadow:5px 5px 7px rgba(170, 170, 170, 0.349019607843137);
  box-shadow:5px 5px 7px rgba(170, 170, 170, 0.349019607843137);
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:223px;
  display:flex;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:223px;
  background:-webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 244, 1) 100%);
  background:-moz-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 244, 1) 100%);
  background:linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 244, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(34, 167, 187, 1);
  border-radius:22px;
  -moz-box-shadow:5px 5px 7px rgba(170, 170, 170, 0.349019607843137);
  -webkit-box-shadow:5px 5px 7px rgba(170, 170, 170, 0.349019607843137);
  box-shadow:5px 5px 7px rgba(170, 170, 170, 0.349019607843137);
}
#u20.selected {
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#22A7BB;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:30px;
  width:128px;
  height:45px;
  display:flex;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#22A7BB;
}
#u21 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:30px;
  width:99px;
  height:99px;
  display:flex;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#4A576A;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:161px;
  width:330px;
  height:30px;
  display:flex;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#4A576A;
}
#u23 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:41px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:95px;
  width:128px;
  height:41px;
  display:flex;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:41px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:95px;
  width:142px;
  height:41px;
  display:flex;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:20px;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:200px;
  width:546px;
  height:37px;
  display:flex;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u26 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:110px;
  width:250px;
  height:42px;
  display:flex;
  font-family:'苹方 粗体', '苹方 中等', '苹方', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u27 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAABB;
  line-height:20px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:19px;
  width:81px;
  height:41px;
  display:flex;
  font-family:'苹方 中等', '苹方', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAABB;
  line-height:20px;
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
